.GameDetails-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e2131;
  border-radius: 15px;
  margin-bottom: 25px;
  padding-right: 20px;
}

.GameDetails-Avatar-container {
  height: 120px;
  flex: 0 0 30%;
}

.GameDetails-Quantity-container {
  flex: 0 0 5%;
}

.GameDetails-price {
  flex: 0 0 10%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.GameDetails-action {
  flex: 0 0 15%;
}
