.Button-base {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  min-height: 40px;
}

.Button-base:hover {
  background-color: #282b40;
}

/* Vairants */
.Button-variantIcon {
  background-color: transparent;
  padding: 0;
  height: auto;
}

.Button-variantLink {
  background-color: transparent;
}

.Button-variantSecondary {
  text-transform: uppercase;
  background-color: #303550;
}

.Button-variantPrimary {
  text-transform: uppercase;
  background-color: #3f48d8;
}

.Button-fullWidth {
  width: 100%;
  justify-content: center;
}

/* Colors */
.Button-colorPrimary {
  color: #f5f5f5;
}

.Button-colorSecondary {
  color: white;
}

.Button-colorLink {
  color: #14f0af;
}

.Button-colorIcon {
  color: #303550;
}

/* Icon */
.Button-icon {
  margin: 0 8px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
