.GameAvatar-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.GameAvatar-avatar {
  height: 100%;
  margin-right: 30px;
  border-bottom-left-radius: 12%;
  border-top-left-radius: 12%;
}

.GameAvatar-name {
  margin: 9px 0;
}
